<header class="demo-header mdl-layout__header">
<div class="mdl-layout mdl-js mdl-layout__header-row">
    <span class="mdl-layout-title">Pimenta Rosa</span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    

</div>
</header>
<div class="demo-drawer mdl-layout__drawer mdl-color--pink-800">
    
    <span class="mdl-layout__title mdl-color-text--white">Pimenta Rosa</span>
    
    
    <nav class="mdl-navigation mdl-color-text--white">
        <a class="mdl-navigation__link mdl-color-text--white" href="/"><i class="material-icons" role="presentation">home</i> Home</a>
        <a class="mdl-navigation__link mdl-color-text--white" href="/fornecedores"><i class="material-icons" role="presentation">person_add</i> Fornecedores</a>
        <a class="mdl-navigation__link mdl-color-text--white" href="/categorias"><i class="material-icons" role="presentation">category</i> Categoria</a>
        <a class="mdl-navigation__link mdl-color-text--white" href="/produtos"><i class="material-icons" role="presentation">redeem</i> Produtos</a>
        <a class="mdl-navigation__link mdl-color-text--white" href="/vendas"><i class="material-icons" role="presentation">shopping_cart</i> Vendas</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link mdl-color-text--white" href="/help"><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
    </nav>
</div>