<a id="modalViewFornecedor" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modal__trigger" data-modal="#ViewFornecedor">
    </a>
    <div id="ViewFornecedor" class="modal modal__bg">
        <div class="modal__dialog" style="width: 600px;">
            <div class="modal__content" style="max-height: 600px;">
                <div class="modal__header">
                    <div class="modal__title">
                        <h2 style="float:left" class="modal__title-text">
                            <b class="mdl-typography--headline-color-contrast mdl-color-text--blue-grey-800">Produto:</b>
                            &nbsp Vestido Florido 
                        </h2>
                        <span style="float:right" onclick="document.getElementById('modalCloseViewFornecedor').click();" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">clear</i>
                        </span>
                        
                    </div>
                </div>
    
                <div class="modal__text">
    
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">CÓDIGO:</b>  111124579
                        </p>
                    </div>
    
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">NOME:</b>  Vestido florido
                        </p>
                    </div>
    
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">CATEGORIA:</b> Vestido
                        </p>
                    </div>
    
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">TAMANHO:</b> P
                        </p>
                    </div>
    
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">FORNECEDOR:</b>  Fornecedor 1
                        </p>
                    </div>
    
                    <!-- <div class="mdl-cell mdl-cell--12-col ">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">PREÇO PAGO:</b> R$ 80,00
                        </p>
                    </div> -->
    
                    <div class="mdl-cell mdl-cell--12-col ">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">PREÇO:</b> R$ 120,00
                        </p>
                    </div>
    
                    <div class="mdl-cell mdl-cell--12-col ">
                        <p>
                            <b class="mdl-color-text--blue-grey-800">DESCRIÇÃO:</b> 
                            <p>Etiam facilisis justo nunc, vitae feugiat lacus blandit at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eu nisl commodo, imperdiet orci a, viverra dolor. Sed pulvinar magna ut pellentesque convallis. Quisque sed urna tortor. Vestibulum sed feugiat tortor. Sed nec mattis augue. Pellentesque eget tempor libero. Nulla imperdiet iaculis leo, sed porta dui egestas tempor. Fusce interdum elit odio, ut egestas mauris posuere eu. Nam tincidunt nisi imperdiet ex pharetra commodo. Phasellus eu ex et quam tempor posuere. Sed consequat nisi et consectetur luctus. Nunc quis risus vel dolor vehicula finibus in a elit. Aenean porttitor iaculis augue sit amet consectetur.</p>
                        </p>
                    </div>
                    
                </div>
                
                <div class="modal__footer">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__close" style="margin: 8px;">
                        CANCELAR
                    </a>
                </div>
    
                <a style="display:none" id="modalCloseViewFornecedor" class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                    Close
                </a>
            </div>
        </div>
    </div>