

<a id="modalDeleteFornecedor" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modal__trigger" data-modal="#DeleteFornecedor">
</a>
<div id="DeleteFornecedor" class="modal modal__bg">
    <div class="modal__dialog" style="width: 300px;">
        <div class="modal__content" style="height: auto; overflow: auto">
            <div class="modal__header">
                <div class="modal__title">
                    <span style="float:right" onclick="document.getElementById('modalCloseDeleteFornecedor').click();" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">clear</i>
                    </span>
                    <h2 style="float:left" class="modal__title-text">
                        Deletar
                    </h2>
                    
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <span>Tem certeza que deseja deletar o Fornecedor <b>{{fornecedor.nomeFantasia}}</b> ? </span>
                    <br>
                    <br>
                    
                </div>
            </div>



            <div class="modal__footer">
                <button  onclick="document.getElementById('modalCloseDeleteFornecedor').click()" style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <span>Cancelar</span>
                </button>
                <button v-on:click='deleteFornecedor(fornecedor._id)' style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    <span>Confirmar</span>
                </button>
            </div>

            <a style="display:none" id="modalCloseDeleteFornecedor" class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
            </a>
        </div>
    </div>
</div>