
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <% include ../partials/includes.ejs %>
    <title>Pimenta Rosa - Novo Produto</title>


</head>
<body>

    <div id="vueApp">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ../partials/header.ejs %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-grid">
                        
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--6-col mdl-grid ">

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-typography--headline-color-contrast	mdl-color-text--blue-grey-800">
                                    Nova Categoria
                                </div>
                            </div>
                            <!-- Codigo Produto -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" v-model="codigo" id="codigo">
                                    <label for="codigo" class="mdl-textfield__label">Código</label>
                                </div>
                            </div>
                                
                            <!-- Product Name -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" v-model="nome" id="nome">
                                    <label for="nome" class="mdl-textfield__label">Nome</label>
                                </div>
                            </div>


                            <!-- Buttons -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <button onclick="window.location = '/categorias'" style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <span>Cancelar</span>
                                </button>
                                <button v-on:click="cadastrar()" style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                    <span>Cadastrar</span>
                                </button>
                            </div>
                        
                        </div>
                        <div class="mdl-layout-spacer"></div>
       
                    </div>
                </div>
            </main>
        </div>
	</div>
	

	<script src="https://unpkg.com/vue"></script>
    <script src="../../js/material-modal.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js"></script>
    <script src="../../js/main.js"></script> 

    <script>
		var vueApp = new Vue({
			el: '#vueApp',
			data: {
                codigo: "",
				nome: "",
	
			},
			methods: {
                cadastrar() {
                    if (this.codigo !== undefined && this.codigo !== "" &&
                        this.nome !== undefined && this.nome !== "") {
                            $.ajax({
                            url: "/categoria/create",
                            type: 'POST',
                            data: {
                                codigo: this.codigo,
                                nome: this.nome, 
                            },
                            success: function (response) {
                                if (response.code === "error") {
                                    
                                } else {
                                    console.log("success");
                                    console.log(response);
                                    vueApp.codigo = "";
                                    vueApp.nome = "";
    
                                }
                            },
                            error: function (response) {
                                console.log(response);
                                
                            }
                        });
                    } else {
                        

                    }
                    
                }
			}
		});
	</script>


</body>
</html> 
