
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
    <% include ../partials/includes.ejs %>

    <title>Pimenta Rosa - Categorias</title>


</head>
<body>

    <div id="vueApp">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ../partials/header.ejs %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid ">
                        
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-typography--headline-color-contrast	mdl-color-text--blue-grey-800">
                                Categorias
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col">
                            <button onclick="window.location.href = window.location.href + '/new'"style="margin-bottom: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                <span>Nova Categoria</span>
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
                                <thead>
                                    <tr class="mdl-typography--text-uppercase">
                                        <th class="mdl-data-table__cell--non-numeric">Codigo</th>
                                        <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                        
                                        
                                        
                                        <th>Editar</th>
                                        <th>Deletar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="categoria in categorias">
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ categoria.codigo }}
                                        </td>

                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ categoria.nome }}
                                        </td>

                                        <td class="mdl-data-table__cell">
                                            <button v-on:click='editCategoria(categoria._id)' id="button-edit-type" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--green">
                                                <i class="material-icons ">
                                                    edit
                                                </i>
                                            </button>
                                        </td>

                                        <td class="mdl-data-table__cell">
                                            <button v-on:click='modalDeleteCategoria(categoria)'  id="button-edit-type" class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--red ">
                                                <i class="material-icons ">
                                                    delete
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="mdl-cell mdl-cell--12-col" v-if="pages > 1">
                            <div style="text-align: center">
                                <button class="mdl-button mdl-js-button mdl-button--icon" align="center" :disabled="currentPage - 1 <= 0" v-on:click="changePage(currentPage - 1)">
                                    <i class="material-icons">navigate_before</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent">
                                    1
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent" >
                                    2
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent" :disabled="disabled == 1 ? true : false">
                                    3
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon" :disabled="currentPage + 1 > pages" v-on:click="changePage(currentPage + 1)">
                                    <i class="material-icons">navigate_next</i>
                                </button>
                            </div>
                        </div> -->

                    </div>
                </div>
            </main>
        </div>
        <% include ./modalDeleteCategoria.ejs %>
        <% include ../partials/snackbar.ejs %>
	</div>
	

	<script src="https://unpkg.com/vue"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script> <!-- MDL JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../js/material-modal.min.js"></script> 
    <script src="../../js/main.js"></script>  

    <script>
		var vueApp = new Vue({
			el: '#vueApp',
			data: {
                categorias: <%- JSON.stringify(categorias) %>,
                categoria: {},
                codigo: "",
                nome: "",
				
			},
			methods: {
                editCategoria(_id) {
                    window.location = "/categorias/edit/" + _id;
                },
                modalDeleteCategoria(categoria) {
                    this.categoria = categoria;
                    document.getElementById('modalDeleteCategoria').click();
                },
                deleteCategoria(_id) {
                    $.ajax({
                        url: "/categoria/delete/" + _id,
                        type: 'PUT',
                        success: function (response) {
                            if (response.code === "error") {
                                
                            } else {
                                vueApp.categorias = response;
                                document.getElementById('modalCloseDeleteCategoria').click();
                            }
                        },
                        error: function (response) {
                            
                        }
                    });
                }
			}
		});
	</script>


</body>
</html> 
