
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <% include ../partials/includes.ejs %>
    <title>Pimenta Rosa - Novo Produto</title>


</head>
<body>

    <div id="vueApp">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ../partials/header.ejs %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-grid">
                        
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--6-col mdl-grid ">

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-typography--headline-color-contrast	mdl-color-text--blue-grey-800">
                                    Novo Produto
                                </div>
                            </div>
                            <!-- Codigo Produto -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" v-model="codigo" id="codigo">
                                    <label for="codigo" class="mdl-textfield__label">Código</label>
                                </div>
                            </div>
                                
                            <!-- Product Name -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" v-model="nome" id="nome">
                                    <label for="nome" class="mdl-textfield__label">Nome</label>
                                </div>
                            </div>

                            <!-- Categoria -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" v-model="categoria">
                                        <option v-for="categoria in categorias" :value="categoria._id">{{categoria.nome}}</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="categoria">Categoria</label>
                                </div>
                            </div>

                            <!-- Tamanho -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" v-model="tamanho" id="tamanho" name="tamanho">
                                        <option></option>
                                        <option class="mdl-menu__item" data-val="PP">PP</option>
                                        <option class="mdl-menu__item" data-val="P">P</option>
                                        <option class="mdl-menu__item" data-val="M" data-selected="true">M</option>
                                        <option class="mdl-menu__item" data-val="G">G</option>
                                        <option class="mdl-menu__item" data-val="GG">GG</option>
                                        <option class="mdl-menu__item" data-val="U">U</option>
                                        <option class="mdl-menu__item" data-val="U">34</option>
                                        <option class="mdl-menu__item" data-val="U">35</option>
                                        <option class="mdl-menu__item" data-val="U">36</option>
                                        <option class="mdl-menu__item" data-val="U">37</option>
                                        <option class="mdl-menu__item" data-val="U">38</option>
                                        <option class="mdl-menu__item" data-val="U">39</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="tamanho">Tamanho</label>
                                </div>
                            </div>
                            
                            
                            <!-- Fornecedor -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" v-model="fornecedor">
                                        <option v-for="fornecedor in fornecedores" :value="fornecedor._id">{{fornecedor.nome}}</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="fornecedor">Fornecedor</label>
                                </div>
                            </div>

                            
    
                            <!-- Preço pago -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid" id="precoPago">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="number" v-model="precoCompra" pattern="-?[0-9]*(\.[0-9]+)?">
                                    <label class="mdl-textfield__label">Preço pago</label>
                                    <span class="mdl-textfield__error">Input is not a number</span>
                                </div>
                            </div>
                            
                            <!-- Preço venda -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid" id="precoVenda" >
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="number" v-model="precoVenda" pattern="-?[0-9]*(\.[0-9]+)?">
                                    <label class="mdl-textfield__label">Preço Venda</label>
                                    <span class="mdl-textfield__error">Input is not a number</span>
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col mdl-textfield--floating-label">
                                    <textarea class="mdl-textfield__input" type="text" rows="5" v-model="descricao"></textarea>
                                    <label class="mdl-textfield__label" for="descricao">Descrição...</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <button onclick="window.location = '/produtos'" style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <span>Cancelar</span>
                                </button>
                                <button v-on:click="cadastrar()" style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                    <span>Cadastrar</span>
                                </button>
                            </div>

                        
                        </div>
                        <div class="mdl-layout-spacer"></div>


                                
                    </div>
                </div>
            </main>
        </div>
        <% include ../partials/snackbar.ejs %>
	</div>
	

	<script src="https://unpkg.com/vue"></script>
    <script src="../../js/material-modal.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js"></script>
    <script src="../../js/main.js"></script> 
    <script src="../../js/material.min.js"></script> 

    <script>
		var vueApp = new Vue({
			el: '#vueApp',
			data: {
                categorias: <%- JSON.stringify(categorias) %>,
                fornecedores: <%- JSON.stringify(fornecedores) %>,
                codigo: "",
                nome: "",
                categoria: "",
                tamanho: "",
                fornecedor: "",
                precoCompra: "",
                precoVenda: "",
                descricao: "",
                
				
			},
			methods: {
                cadastrar() {    
					if (this.codigo !== undefined && this.codigo !== "" &&
						this.nome !== undefined && this.nome !== "" &&
						this.categoria !== undefined && this.categoria !== "" &&
						this.tamanho !== undefined && this.tamanho !== "" &&
						this.fornecedor !== undefined && this.fornecedor !== "" &&
						this.precoCompra !== undefined && this.precoCompra !== "" &&
						this.precoVenda !== undefined && this.precoVenda !== "" &&
						this.descricao !== undefined && this.descricao !== "") {
                            
                        $.ajax({
                            url: "/produto/create",
                            type: 'POST',
                            data: {
                                codigo: this.codigo,
                                nome: this.nome,
                                categoria: this.categoria,
                                tamanho: this.tamanho,
                                fornecedor: this.fornecedor,
                                precoCompra: this.precoCompra,
                                precoVenda: this.precoVenda,
                                descricao: this.descricao,   
                            },
                            success: function (response) {
                                if (response.code === "error") {
                                    
                                    snackbar('Erro ao tentar cadastrar produto!', 5, 'error');
                                } else {
                                    snackbar('Produto cadastrado com sucesso!', 5, 'success');
                                    
                                    vueApp.codigo = "";
                                    vueApp.nome = "";
                                    vueApp.categoria = "";
                                    vueApp.tamanho = "";
                                    vueApp.fornecedor = "";
                                    vueApp.precoCompra = "";
                                    vueApp.precoVenda = "";
                                    vueApp.descricao = "";
                                }
                            },
                            error: function (response) {
                                snackbar('Erro ao tentar cadastrar produto!', 5, 'error');
                            }
                        });
                    } else {
                        snackbar('Erro! Preencha todos os campos. ', 5, 'error');
                    }
                }
			
			}
		});
	</script>


</body>
</html> 
