
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
    <% include ../partials/includes.ejs %>
    <title>Pimenta Rosa - Produtos</title>


</head>
<body>

    <div id="vueApp">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ../partials/header.ejs %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid ">
                        
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-typography--headline-color-contrast	mdl-color-text--blue-grey-800">
                                Produtos
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col">
                            <button onclick="window.location.href = window.location.href + '/new'"style="margin-bottom: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                <span>Novo Produto</span>
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
                                <thead>
                                    <tr class="mdl-typography--text-uppercase">
                                        <th class="mdl-data-table__cell--non-numeric">Código</th>
                                        <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                        <th class="mdl-data-table__cell--non-numeric">Categoria</th>
                                        <th class="mdl-data-table__cell--non-numeric">Tamanho</th>
                                        <th class="mdl-data-table__cell--non-numeric">Fornecedor</th>
                                        <th class="mdl-data-table__cell">Preço</th>
                                        <th class="mdl-data-table__cell">Visualizar</th>
                                        <th class="mdl-data-table__cell">Editar</th>
                                        <th class="mdl-data-table__cell">Deletar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="produto in produtos">
                                        teste
                                        
                                        <br>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ produto.codigo }}
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ produto.nome }}
                                        </td>
                                        
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ produto.categoria.nome }}                                            
                                        </td>
                                        
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ produto.tamanho }}
                                        </td>
                                        
                                        <td class="mdl-data-table__cell--non-numeric">
                                            {{ produto.fornecedor.nomeFantasia }}
                                        </td>
                                        <td class="mdl-data-table__cell">
                                                R$ {{ parseFloat(Math.round(produto.precoVenda * 100) / 100).toFixed(2) }}
                                        </td>
                                        <td class="mdl-data-table__cell">
                                            <button v-on:click='modalViewProduto(produto)' id="button-edit-type" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                                <i class="material-icons ">
                                                    visibility
                                                </i>
                                            </button>
                                        </td>

                                        <td class="mdl-data-table__cell">
                                            <button v-on:click='editProduto(produto._id)' id="button-edit-type" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--green">
                                                <i class="material-icons ">
                                                    edit
                                                </i>
                                            </button>
                                        </td>

                                        <td class="mdl-data-table__cell">
                                            <button v-on:click='modalDeleteProduto(produto)'  id="button-edit-type" class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--red ">
                                                <i class="material-icons ">
                                                    delete
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <% include ./modalViewProduto.ejs %>
        <% include ./modalDeleteProduto.ejs %>
        <% include ../partials/snackbar.ejs %>
	</div>
	
	<script src="https://unpkg.com/vue"></script>
    <script src="../../js/material-modal.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js"></script>
    <script src="../../js/main.js"></script> 

    <script>
		var vueApp = new Vue({
			el: '#vueApp',
			data: {
                produtos: <%- JSON.stringify(produtos) %>,
                produto: {},
                categoria: "",
                fornecedor: "",
			},
			methods: {
                modalViewProduto(produto) {
                    this.produto = produto;
                    this.categoria = produto.categoria;
                    this.fornecedor = produto.fornecedor
                    document.getElementById('modalViewProduto').click();
                },
                modalDeleteProduto(produto) {

                    this.produto = produto;
                    document.getElementById('modalDeleteProduto').click();
                },
                editProduto(_id) {
                    window.location = "/produto/edit/" + _id;
                },
                deleteProduto(_id) {
                    
                    $.ajax({
                        url: "/produto/delete/" + _id,
                        type: 'PUT',
                        success: function (response) {
                            if (response.code === "error") {
                                snackbar('Erro ao tentar deletar produto!', 5, 'error');
                            } else {
                                snackbar('Produto deletado com sucesso!', 5, 'success');
                                vueApp.produtos = response;
                                document.getElementById('modalCloseDeleteProduto').click();
                            }
                        },
                        error: function (response) {
                            snackbar('Erro ao tentar deletar produto!', 5, 'error');
                        }
                    });
                }
			
			}
		});
	</script>


</body>
</html> 
