
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <% include ./partials/includes.ejs %>
    <title>Pimenta Rosa - Home</title>


</head>
<body>

    <div id="vueApp">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ./partials/header.ejs %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--6-col mdl-grid">
                        
                            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-layout-spacer"></div>

                                <div class="mdl-typography--headline-color-contrast">
                                    <h2 class="pinkText">
                                        PIMENTA ROSA
                                    </h2>
                                </div>

                                <div class="mdl-layout-spacer"></div>
                            </div>

                        
                        <div class="mdl-cell mdl-cell--12-col mdl-grid ">
                            
                            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp homeIconBG">
                                <a href="/fornecedores">
                                    <div class="homeImgMargin" >
                                        <img src="img/person_add_white_48dp.png" style="max-width: 100%; max-height: 100%;"/>
                                    </div>
                                    <div class="mdl-typography--headline-color-contrast mdl-color-text--white">
                                        FORNECEDORES
                                    </div>
                                </a>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp homeIconBG">
                                <a href="/categorias">
                                    <div class="homeImgMargin"  >
                                        <img src="img/category_white_48dp.png" style="max-width: 100%; max-height: 100%; "/>
                                    </div>
                                    <div class="mdl-typography--headline-color-contrast mdl-color-text--white">
                                        CATEGORIAS
                                    </div>
                                </a>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp homeIconBG">
                                <a href="/produtos">
                                    <div class="homeImgMargin" >
                                        <img src="img/card_giftcard_white_48dp.png" style="max-width: 100%; max-height: 100%; "/>
                                    </div>
                                    <div class="mdl-typography--headline-color-contrast mdl-color-text--white">
                                        PRODUTOS
                                    </div>
                                </a>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp homeIconBG">
                                <a href="/vendas">
                                    <div class="homeImgMargin" >
                                        <img src="img/shopping_cart_white_48dp.png" style="max-width: 100%; max-height: 100%;"/>
                                    </div>
                                    <div class="mdl-typography--headline-color-contrast mdl-color-text--white">
                                        VENDAS
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>

                </div>
            </main>
        </div>
	</div>
	
	<script src="https://unpkg.com/vue"></script>
    <script src="../../js/material-modal.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js"></script>
    <script src="../../js/main.js"></script> 

    <script>
		var vueApp = new Vue({
			el: '#vueApp',
			data: {
                products: [
                    "Blusinha 1",
                    "Calca 1",
                    "Tenis 1",
                    "Oculos 1",
                    "Blusinha 2",
                    "teste 1",
                    "amandinha"
                ],
                name: "",
				evaluators: "",
				experienceGain: "",
				experienceRequire: "",
				
			},
			methods: {
			
			}
		});
	</script>


</body>
</html> 
