<a id="modalViewProduto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modal__trigger" data-modal="#ViewProduto">
</a>
<div id="ViewProduto" class="modal modal__bg">
    <div class="modal__dialog" style="width: 600px;">
        <div class="modal__content" style="max-height: 600px;">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 style="float:left" class="modal__title-text">
                        <b class="mdl-typography--headline-color-contrast mdl-color-text--blue-grey-800">Produto:</b>
                        &nbsp {{produto.nome}}
                    </h2>
                    <span style="float:right" onclick="document.getElementById('modalCloseViewProduto').click();" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">clear</i>
                    </span>
                    
                </div>
            </div>

            <div class="modal__text">


                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">CÓDIGO:</b>  {{produto.codigo}}
                    </p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">NOME:</b>  {{produto.nome}}
                    </p>
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">categoria:</b>  {{categoria.nome}}
                    </p>
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">tamanho:</b> {{produto.tamanho}}
                    </p>
                </div>
                
                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">fornecedor:</b> {{fornecedor.nome}}
                    </p>
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <p>
  
                    <b class="mdl-color-text--blue-grey-800">precoCompra:</b> R$ {{produto.precoCompra}}
                    </p>
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">precoVenda:</b>  R$ {{produto.precoVenda}}
                    </p>
                </div>


                <div class="mdl-cell mdl-cell--12-col ">
                    <p>
                        <b class="mdl-color-text--blue-grey-800">DESCRIÇÃO:</b> 
                        <p>{{produto.descricao}}</p>
                    </p>
                </div>
                
            </div>
            
            <div class="modal__footer">
                <a onclick="document.getElementById('modalCloseViewProduto').click();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__close" style="margin: 8px;">
                    CANCELAR
                </a>
            </div>

            

            <a style="display:none" id="modalCloseViewProduto" class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
            </a>
        </div>
    </div>
</div>