<a id="modalAddProduto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modal__trigger" data-modal="#AddProduto">
    </a>
    <div id="AddProduto" class="modal modal__bg">
        <div class="modal__dialog" style="width: 600px;">
            <div class="modal__content" style="max-height: 600px;">
                <div class="modal__header">
                    <div class="modal__title">
                        <h2 style="float:left" class="modal__title-text">
                            <b class="mdl-typography--headline-color-contrast mdl-color-text--blue-grey-800">Insira o Código do produto:</b>
                            
                        </h2>
                        <span style="float:right" onclick="document.getElementById('modalCloseAddProduto').click();" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">clear</i>
                        </span>
                        
                    </div>
                </div>
    
                <div class="modal__text">
    
    
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" v-model="codProduto">
                        <label class="mdl-textfield__label">Código do produto</label>
                    </div>
                    
                </div>
                
                <div class="modal__footer">
                       
                    <a onclick="document.getElementById('modalCloseAddProduto').click();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modal__close" style="margin: 8px;">
                        Cancelar
                    </a>
                            
                    <button v-on:click='insertProduto(codProduto)' style="margin: 8px;" id="button-edit-type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        <span>Confirmar</span>
                    </button>
                </div>

                <a style="display:none" id="modalCloseAddProduto" class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                    Close
                </a>
            </div>
        </div>
    </div>